.toast-center-center {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: auto !important;
    position: fixed !important;
    z-index: 9999 !important;
}

    .toast-center-center > .toast {
        margin-bottom: 10px;
        opacity: 0.95;
    }


